repos:
  - repo: local
    hooks:
      - id: ruff-lint
        name: ruff check
        entry: task lint
        language: system
        types: [python]
        pass_filenames: false
        exclude: >
          ^(
            core/settings\.py|
            documents/migrations|
            users/adapter.py|
            workspace/migrations|
            workspace/urls.py
          )
