services:
  backend:
    command: uvicorn core.asgi:application --reload --host 0.0.0.0 --port 8000 --env-file .env
    environment:
      - DEBUG=1
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    restart: always
